.product-card {
    padding: 10px;

    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-top: 10px;
    margin-bottom: 10px;
}

.product-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.card-header {
    overflow: hidden;
}

.product-image {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.product-card:hover .product-image {
    transform: scale(1.1);
}

.card-body {
    padding: 20px;
}

.product-title {
    font-size: 1.25em; /* سایز متن عنوان محصول کوچک‌تر شده است */
    margin: 10px 0;
    color: #ffffff;
}

.product-description {
    font-size: 0.9em; /* سایز متن توضیحات کوچک‌تر شده است */
    color: #ffffff;
    margin: 10px 0 20px;
}

.price-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 15px 0;
}

.price {
    font-size: 1.2em; /* سایز قیمت محصول کوچک‌تر شده است */
    color: #ffffff;
    font-weight: bold;
}

.old-price {
    font-size: 1em; /* سایز قیمت قدیمی محصول کوچک‌تر شده است */
    color: #bbb;
    text-decoration: line-through;
}

.buy-button {
    /* background-color: #ff6f61; */
    color: white;
    border: none;
    padding: 10px 20px; /* سایز دکمه کوچک‌تر شده است */
    font-size: 0.9em; /* سایز متن دکمه کوچک‌تر شده است */
    cursor: pointer;
    border-radius: 50px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.buy-button:hover {

    transform: translateY(-2px);
}