@font-face{
    font-family: iran;
    src: url(../fonts/iran.ttf);
}

*{
    direction: rtl;
    font-family: iran;
    box-sizing: border-box;
}

body{
    font-size: 16px ;
    margin: 0px ;
    background-color: #dfe6e9;
}

a{
    text-decoration: none ;
}
.glass {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: #fff;
}